integrations/n8n/lora-trainer.workflow.json
{
  "name": "MaestroAI · LoRA Trainer (MLX)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lora-train",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-lora",
      "name": "Webhook (lora-train)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "lora-train"
    },
    {
      "parameters": {
        "jsCode": "// Empaqueta el payload de MaestroAI en base64 para pasarlo seguro por stdin\n// al wrapper (evita problemas de comillas/saltos de línea del JSONL).\nconst body = $json.body || $json;\nconst b64 = Buffer.from(JSON.stringify(body)).toString('base64');\nreturn [{ json: { job_id: body.job_id || '', b64 } }];"
      },
      "id": "encode-payload",
      "name": "Encode payload (base64)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "command": "=echo {{ $json.b64 }} | base64 --decode | bash $HOME/ai-local-lab-mac/scripts/lora-train-wrapper.sh"
      },
      "id": "run-trainer",
      "name": "Run trainer (train+fuse)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [720, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"accepted\", \"job_id\": $('Encode payload (base64)').item.json.job_id } }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond (accepted)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [960, 300]
    }
  ],
  "connections": {
    "Webhook (lora-train)": {
      "main": [[{ "node": "Encode payload (base64)", "type": "main", "index": 0 }]]
    },
    "Encode payload (base64)": {
      "main": [[{ "node": "Run trainer (train+fuse)", "type": "main", "index": 0 }]]
    },
    "Run trainer (train+fuse)": {
      "main": [[{ "node": "Respond (accepted)", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": ["maestroai", "lora", "mlx"]
}
